.homepage-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.metamask-connector {
  display: grid;
}

.metamask-logo {
  width: 250px;
  justify-self: center;
  padding: 40px 20px;
}

.install-metamask {
  width: 600px;
  cursor: pointer;
  transition: transform 2s;
}

.install-metamask:hover {
  transform: scale(1.15);
}
